# Local Environment & Development
# ----------------------------------------  
tags
dev.*
*.vim
*.dev.*
*.dev
*.dev/

# Local environment configuration
# ----------------------------------------  
.env
.env.local

# PHP Ecosystem & Dependencies
# ----------------------------------------  
vendor/

# PHPUnit test runner cache
# ----------------------------------------  
.phpunit.result.cache

# Static analysis cache
# ----------------------------------------  
.phpstan.cache/
.psalm.cache/

# IDEs, Editors & OS Metadata
# ----------------------------------------  
# JetBrains PhpStorm / IntelliJ
.idea/
*.iml

# Visual Studio Code
# ----------------------------------------  
.vscode/

# Operating System files
# ----------------------------------------  
.DS_Store
Thumbs.db
